<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Homer. It uses data from map.box and darksky.net!</p>
            <img class="portrait" src="./img/Homer_Simpson.png">
        </div>
       
        {{>footer}}
    </body>
</html>
